<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"></html>
<form class="userForm" th:fragment="userForm" style="display:none;">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Username">
        <div class="invalid-feedback"></div>
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input type="text" class="form-control" id="age" name="age" placeholder="Age">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="mail">Mail</label>
        <input type="text" class="form-control" id="mail" name="mail" placeholder="Mail">
    </div>
    <div class="form-group">
        <label for="roles">Roles</label>
        <select multiple class="form-control" id="roles" name="roles" required>
        </select>
    </div>
</form>