<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <head th:replace="fragments/head :: head"/>
</head>
<body>

<nav th:replace="fragments/head :: navbar"/>

<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-md-2 d-none d-md-block mt-4 pl-0 pr-0">
            <a type="button" class="btn btn-lg btn-block mt-0" href="/admin/users">Admin</a>
            <a type="button" class="btn btn-primary btn-lg btn-block mt-0" href="/users/user.html">User</a>
        </div>
        <div class="col-10 bg-light">
            <div class="container-fluid">
                <div class="raw">
                    <div class="col mt-3">
                        <h1>User information-page</h1>
                        <div class="col border border-bottom-0 bg-light p-2">
                            <h4 class="mb-0">About User</h4>
                        </div>
                        <div class="w-100"></div>
                        <div class="col p-3 border bg-white text-dark">
                            <table class="table table-striped text-center">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user, iterStat : ${user}"
                                    th:style="${iterStat.odd}? 'font-weight: bold;'">
                                    <th scope="row" th:text="${user.id}"></th>
                                    <td th:text="${user.username}"></td>
                                    <td th:text="${user.age}"></td>
                                    <td th:text="${user.mail}"></td>
                                    <td>
                                    <span th:each="role : ${user.roles}"
                                          th:text="${role.name.replace('ROLE_', '') + ' '}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/footer :: script"></script>
</body>
</html>